// app global css in SCSS form
body.body--dark {
  color: black;
}

.q-item--dark {
  color: black;
}
.q-toggle__label {
  color: black;
}
.q-toggle__inner--falsy {
  color: black;
}
.q-editor--flat {
  flex: 1;
}
